name: Deploy to GCP Storage

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  GCS_BUCKET: simple-secret-santa.com
  LOCAL_ARTIFACT_PATH: index.html
  GCS_DESTINATION_PATH: index.html

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        
      - name: GCP authentication
        id: 'auth'
        uses: 'google-github-actions/auth@v3'
        with:
          credentials_json: ${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}
          token_format: 'access_token' 
          access_token_scopes: 'https://www.googleapis.com/auth/cloud-platform'
          create_credentials_file: true
          export_environment_variables: true

      - name: Config gcloud and gsutil
        uses: google-github-actions/setup-gcloud@v2
        with:
          install_components: 'gsutil'

      - name: Upload
        run: |
          LOCAL_FILE="${{ env.LOCAL_ARTIFACT_PATH }}" 
          GCS_URI="gs://${{ env.GCS_BUCKET }}/${{ env.GCS_DESTINATION_PATH }}"

          echo "Uploading from ${LOCAL_FILE} to ${GCS_URI}"
          gsutil cp "${LOCAL_FILE}" "${GCS_URI}" 
          echo "Success."
